body{
    height:100dvh;
    font-family:Arial, Sans-serif;   
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

#main{
    background-color:lightgrey;    
    height:50%;
    width:500px;
    items-align:center;
    border-radius:10px; 
    box-shadow:1px 2px 20px 5px  grey
}
#label{
    font-size: 5vh;
    text-align:center;
    items-align:center;
}
#display{
    font-family: 'Segment7', 'DS-Digital', 'Digital-7', 'Orbitron', 'Courier New', monospace;
    margin:5%;
    border-radius:5px;
    background-color:lightgreen;
    font-size:50px;
    text-align:center;
    items-align:center;
}
#control{
    width:90%;
    margin:auto;    
    display:flex;
    items-align:center;
    justify-content:center;
}

button{    
    color:#fff;    
    border-radius:5px;    
    cursor:pointer;
    width:30%;
    margin:1%;
    
}           

button:focus{
    border:2px solid blue;
}

#start{
    background-color:green;    
}
#stop{
    background-color:red;
}
#reset{
    background-color:blue;
}

#start:hover{
    background-color:lightgreen;
    border:2px solid blue;    
}
#stop:hover{
    background-color:orange;
    border:2px solid blue;          
}

#reset:hover{
    background-color:lightblue;
    border:2px solid blue;
}

@media(max-width:500px){
    #main{
        width:90%;
    }
    #display{
        font-size:40px; 
          font-size: 5vh;       
    }
    #control{
        display:flex;
        width: 90%;
    }
}

@media(max-width:250px){
    #label{
        font-size:20px
    }

    #main{
        width:90%;   
    }
    #display{
        font-size:20px;
          font-size: 5vh;
    }
    #control{
        display:flex;
        width: 90%;
    }

}
@media(max-height:500px){
#label{
      font-size: 5vh;
}
   } 
    #display{
        font-size:200%;        
        margin:2%;
    }
